.grid {
  display: grid;
  gap: 10px;
  /* fr을 사용하려면 height를 설정해야한다 설정하지 않으면 height가 0이라서 fr이 나오지 않는다.
     50vh는 내 화면의 50 즉 절반을 말한다.*/
  height: 50vh;
  /* auto 200px를 설정하게 된다면 모든 공간을 사용한다. */
  grid-template-columns: [first-line] 100px [second-line] 100px [third-line] 100px [fourth-line] 100px [fifth-line];
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: #2ecc71;
  /* header가 어디서 시작해서 어디서 끝나는지 정할 수 있다.
  grid-column-start,end를 grid-column: start/end;로 간결하게 쓸 수 있다. */
  grid-column: 1 /-1;
}

.content {
  background-color: #3498db;
  grid-column: first-line / fourth-line;
  grid-row-start: 2;
  grid-row-end: 4;
}

.nav {
  background-color: #8e44ad;
  grid-row-start: 2;
  grid-row-end: 4;
}

.footer {
  background-color: #f39c12;
  grid-column: span 4;
}
