/* display: flex를 해주면 inline-block과 같은 결과를 얻을 수 있다.
또한 바로 위 부모가 flex container이어야 자식의 위치를 움직일 수 있다.
flexbox에서 box들의 위치를 옮기고 싶으면 flex container의 안에 있어야 한다.*/

.father {
  display: flex;
  /* -reverse는 HTML을 바꾸지않고 방향을 역으로 바꾼다. */
  /* flex-direction: row-reverse; */
  /* Main Axis */
  justify-content: space-around;
  /* align-content는  element들의 줄이 바뀌는 line을 다룬다*/
  align-content: flex-start;
  height: 200vh;
  /* flex-wrap의 기본 defalu값은 nowrap이다 */
  flex-wrap: wrap;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  font-size: 50px;
}

/* .child:nth-child(2) {
  align-self: center;
}

.child:nth-child(3) {
  align-self: flex-end;
} */

/* 기본적인 box order는 0이다 따라서 2번 box가 0 3번 box가 1이므로 2번박스가 3번 위치로 간다. */
/* .child:nth-child(1) {
  order: 2;
}

.child:nth-child(2) {
  order: 3;
} */

/* flex-shrink의 기본값은 1이다.
   flex-grow는 shrink의 반대이며 기본값은 0이다. */
.child:nth-child(2) {
  background: #000;
  /* flex-shrink: 2; */
  flex-grow: 1;
}
