.father {
  display: grid;
  /* grid-template-columns: 원하는 column 수를 입력; grid-template-rows: 도 있다.; */
  grid-template-columns: 250px 250px 250px;
  /* 행과 열을 나눠줌, 따로 나누려면 row-gap, column-gap으로 나눌 수 있다. */
  gap: 10px;
}

.child {
  background: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
